.booking-timeline-item {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  padding: 8px;
  color: #392C71;
}

.booking-timeline-item--current {
  border-color: #6637FF;
  background-color: #F3F0FF;
}

.booking-timeline-item--draft {
  border-color: #8B96BB;
  background-color: white;
}
.booking-timeline-item--error {
  border-color: #FD179B;
  background-color: #FFEAF6;
}
