.timeline-wrapper {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background: white;
  border-radius: 8px;
  margin-top: 20px;
}
.timeline {
  position: relative;
  transition: height 0.3s;
}
.timeline__item-wrapper {
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #eee;
}
.timeline__item {
}