.App {
  text-align: center;
  padding: 20px 20px 100px;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.App-header > section {
  margin: 0 auto;
  padding: 50px 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-booking-time {
  display: inline-block;
  width: 400px;
}

.App-booking-duration {
  display: inline-block;
  width: 80px;
}

.App-booking-user {
  display: inline-block;
  width: 80px;
}
.App-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
}
